<!-- <p>aru-app-mandrel-ejection works!</p> -->
<h1>Mandrel Ejection</h1>

<section class="description">
    <p>Finish the riveting operation, and check whether a mandrel ejected or not.</p>
</section>

<section class="io-configuration">
    <h3>I/O Port Configuration</h3>
    <ul>
        <li><strong>TO[0]:</strong> Tool digital output port is OFF</li>
        <li><strong>DO[7]:</strong> Error output port</li>
        <li><strong>DI[2]:</strong> Mandrel pass sensor input port</li>
    </ul>
</section>

<section class="parameters">
    <h3>Adjustable Parameters</h3>
    <p>There is a slider to adjust the checking time for mandrel ejection.</p>
</section>