<!-- <p>aru-app-mandrel-ejection works!</p> -->
<h1>{{ 'application.nodes.lobtex-arur2a1ur-aru-app.mandrel.title' | translate }}</h1>

<section class="description">
    <p>{{ 'application.nodes.lobtex-arur2a1ur-aru-app.mandrel.description' | translate }}</p>
</section>

<section class="io-configuration">
    <h3>{{ 'application.nodes.lobtex-arur2a1ur-aru-app.mandrel.ioConfig.title' | translate }}</h3>
    <ul>
        <li><strong>TO[0]:</strong> {{ 'application.nodes.lobtex-arur2a1ur-aru-app.mandrel.ioConfig.to0' | translate }}</li>
        <li><strong>DO[7]:</strong> {{ 'application.nodes.lobtex-arur2a1ur-aru-app.mandrel.ioConfig.do7' | translate }}</li>
        <li><strong>DI[2]:</strong> {{ 'application.nodes.lobtex-arur2a1ur-aru-app.mandrel.ioConfig.di2' | translate }}</li>
    </ul>
</section>

<section class="parameters">
    <h3>{{ 'application.nodes.lobtex-arur2a1ur-aru-app.mandrel.parameters.title' | translate }}</h3>
    <p>{{ 'application.nodes.lobtex-arur2a1ur-aru-app.mandrel.parameters.description' | translate }}</p>
</section>