<!-- <p>aru-app-finish works!</p> -->
<h1>{{ 'application.nodes.lobtex-arur2a1ur-aru-app.finish.title' | translate }}</h1>

<section class="description">
    <p>{{ 'application.nodes.lobtex-arur2a1ur-aru-app.finish.description' | translate }}</p>
</section>

<section class="io-configuration">
    <h3>{{ 'application.nodes.lobtex-arur2a1ur-aru-app.finish.ioConfig.title' | translate }}</h3>
    <ul>
        <li><strong>TO[0]:</strong> {{ 'application.nodes.lobtex-arur2a1ur-aru-app.finish.ioConfig.to0' | translate }}</li>
    </ul>
</section>