@if (contributedNode) {
    <div class="inline-component">
        <span>Rivet Supply: </span>
            <ur-dialog-number-input
                [clearable]="true"
                [disabled]="false"
                label="Time to check"
                keyboardLayout="numeric-free-positive"
                [max]="10"
                [min]="0"
                [step]="0.1"
                [placeholder]= "this.contributedNode.parameters.time2Check.toString()"
                [required]="false"
                [suffix]="'sec'"
                (valueChanged)="this.contributedNode.parameters.time2Check = $event; saveNode()"
                [value]="this.contributedNode.parameters.time2Check"
            ></ur-dialog-number-input>
            <ur-dialog-number-input
                [clearable]="true"
                [disabled]="false"
                label="Time to open"
                keyboardLayout="numeric-free-positive"
                [max]="10"
                [min]="0"
                [step]="0.1"
                [placeholder]= "this.contributedNode.parameters.time2Open.toString()"
                [required]="false"
                [suffix]="'sec'"
                (valueChanged)="this.contributedNode.parameters.time2Open = $event; saveNode()"
                [value]="this.contributedNode.parameters.time2Open"
            ></ur-dialog-number-input>
            <ur-dialog-number-input
                [clearable]="true"
                [disabled]="false"
                label="Time to stop"
                keyboardLayout="numeric-free-positive"
                [max]="10"
                [min]="0"
                [step]="0.1"
                [placeholder]= "this.contributedNode.parameters.time2Stop.toString()"
                [required]="false"
                [suffix]="'sec'"
                (valueChanged)="this.contributedNode.parameters.time2Stop = $event; saveNode()"
                [value]="this.contributedNode.parameters.time2Stop"
            ></ur-dialog-number-input>
    </div>
}