<!-- <p>aru-app-check works!</p> -->
<h1>{{ 'application.nodes.lobtex-arur2a1ur-aru-app.check.title' | translate }}</h1>

<section class="description">
    <p>{{ 'application.nodes.lobtex-arur2a1ur-aru-app.check.description' | translate }}</p>
    <p><strong>{{ 'application.nodes.lobtex-arur2a1ur-aru-app.check.note.label' | translate }}</strong> {{ 'application.nodes.lobtex-arur2a1ur-aru-app.check.note.text' | translate }}</p>
</section>

<section class="io-configuration">
    <h3>{{ 'application.nodes.lobtex-arur2a1ur-aru-app.check.ioConfig.title' | translate }}</h3>
    <ul>
        <li><strong>DI[1]:</strong> {{ 'application.nodes.lobtex-arur2a1ur-aru-app.check.ioConfig.di1' | translate }}</li>
        <li><strong>DO[7]:</strong> {{ 'application.nodes.lobtex-arur2a1ur-aru-app.check.ioConfig.do7' | translate }}</li>
    </ul>
</section>

