<!-- <p>aru-app-start works!</p> -->
<h1>{{ 'application.nodes.lobtex-arur2a1ur-aru-app.start.title' | translate }}</h1>

<section class="description">
<p>{{ 'application.nodes.lobtex-arur2a1ur-aru-app.start.description' | translate }}</p>
    <p><strong>{{ 'application.nodes.lobtex-arur2a1ur-aru-app.start.note.label' | translate }}</strong> {{ 'application.nodes.lobtex-arur2a1ur-aru-app.start.note.text' | translate }}</p>
</section>

<section class="io-configuration">
    <h3>{{ 'application.nodes.lobtex-arur2a1ur-aru-app.start.ioConfig.title' | translate }}</h3>
<ul>
        <li><strong>TO[0]:</strong> {{ 'application.nodes.lobtex-arur2a1ur-aru-app.start.ioConfig.to0' | translate }}</li>
</ul>
</section>

<section class="parameters">
    <h3>{{ 'application.nodes.lobtex-arur2a1ur-aru-app.start.parameters.title' | translate }}</h3>
    <p>{{ 'application.nodes.lobtex-arur2a1ur-aru-app.start.parameters.description' | translate }}</p>
</section>
