<!-- <p>aru-app-start works!</p> -->
<h1>Riveting Start</h1>

<section class="description">
<p>Start the riveting operation.</p>
    <p><strong>Note:</strong> You should eject a mandrel after the end of riveting.</p>
</section>

<section class="io-configuration">
    <h3>I/O Port Configuration</h3>
<ul>
        <li><strong>TO[0]:</strong> Tool digital output port is ON</li>
</ul>
</section>

<section class="parameters">
    <h3>Adjustable Parameters</h3>
    <p>There is a slider to adjust the time for the riveting switch to be switched on.</p>
</section>
