@import '../../../styles.scss';

.component {
  .section {
    padding: 0.5rem 0.5rem 1rem;
  }
}

.more-settings-dialog-content {
  margin: var(--spacing-05) 0;
  min-height: 340px;

  // section 容器 - 横向 flex 布局
  .section {
    display: flex;
    flex-direction: row;
    gap: var(--spacing-05);
    align-items: flex-start;
  }

  nav {
      width: 220px;
      max-height: 100%;
      flex-shrink: 0;

      ur-tab + ur-tab {
          margin-top: var(--spacing-04);
      }

      ur-tab.invalid {
          ::ng-deep ur-icon {
              fill: currentColor;
              background-color: var(--color-icon-warning);
              border-radius: var(--border-radius-medium);
              padding: var(--spacing-01);
              margin: 0 calc(var(--spacing-01) * -1);
          }
      }
  }

  hr.vertical {
      height: auto;
      flex-shrink: 0;
  }

  .tab-content {
      display: flex;
      flex-direction: column;
      row-gap: var(--spacing-03);
      padding: var(--spacing-02);
      flex: 1;
      min-width: 0;
  }
}
