<!-- <p>aru-app-supply works!</p> -->
<h1>{{ 'application.nodes.lobtex-arur2a1ur-aru-app.supply.title' | translate }}</h1>

<section class="description">
    <p>{{ 'application.nodes.lobtex-arur2a1ur-aru-app.supply.description' | translate }}</p>
    <p><strong>{{ 'application.nodes.lobtex-arur2a1ur-aru-app.supply.note.label' | translate }}</strong> {{ 'application.nodes.lobtex-arur2a1ur-aru-app.supply.note.text' | translate }}</p>
</section>

<section class="io-configuration">
    <h3>{{ 'application.nodes.lobtex-arur2a1ur-aru-app.supply.ioConfig.title' | translate }}</h3>
    <ul>
        <li><strong>DO[0]:</strong> {{ 'application.nodes.lobtex-arur2a1ur-aru-app.supply.ioConfig.do0' | translate }}</li>
        <li><strong>DO[1]:</strong> {{ 'application.nodes.lobtex-arur2a1ur-aru-app.supply.ioConfig.do1' | translate }}</li>
        <li><strong>DO[7]:</strong> {{ 'application.nodes.lobtex-arur2a1ur-aru-app.supply.ioConfig.do7' | translate }}</li>
        <li><strong>DI[0]:</strong> {{ 'application.nodes.lobtex-arur2a1ur-aru-app.supply.ioConfig.di0' | translate }}</li>
    </ul>
</section>

<section class="parameters">
    <h3>{{ 'application.nodes.lobtex-arur2a1ur-aru-app.supply.parameters.title' | translate }}</h3>
    <p>{{ 'application.nodes.lobtex-arur2a1ur-aru-app.supply.parameters.description' | translate }}</p>
    <ul>
        <li>{{ 'application.nodes.lobtex-arur2a1ur-aru-app.supply.parameters.items.check' | translate }}</li>
        <li>{{ 'application.nodes.lobtex-arur2a1ur-aru-app.supply.parameters.items.open' | translate }}</li>
        <li>{{ 'application.nodes.lobtex-arur2a1ur-aru-app.supply.parameters.items.stop' | translate }}</li>
    </ul>
</section>
